<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark red" >
           
    <!-- Navbar brand -->
    <logo><a class="navbar-brand" href="#"><img src="assets/logo1.png" height="50" width="230"></a></logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbRippleRadius><strong>Home</strong><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius><strong>About</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius><strong>Services</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius><strong>Contact</strong></a>
            </li>

            <!-- Dropdown -->
           

        </ul>
        <!-- Links -->

        <!-- Search form -->
        <form class="form-inline  waves-light" mdbRippleRadius>
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>



             
                
            