
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <!--First slide-->
        <mdb-slide>
        <div class="view hm-black-slight">
            <img class="d-block w-100" src="assets/slide7.jpg" alt="First slide">
            
            <div class="mask waves-light" mdbRippleRadius> </div>
        </div>
  
    </mdb-slide>
    <mdb-slide>
        <div class="view hm-black-slight">
            <img class="d-block w-100" src="assets/slide8.jpg" alt="First slide">
            
            <div class="mask waves-light" mdbRippleRadius> </div>
        </div>
  
    </mdb-slide>
    <mdb-slide>
        <div class="view hm-black-slight">
            <img class="d-block w-100" src="assets/slide1.jpg" alt="First slide">
            
            <div class="mask waves-light" mdbRippleRadius> </div>
        </div>
  
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    
    <!--/Second slide-->
    <!--Third slide-->
    
    <mdb-slide>
        <div class="view hm-black-slight">
            <img class="d-block w-100" src="assets/slide6.jpg" alt="Third slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
       
    </mdb-slide>
    <!--/Third slide-->
</mdb-carousel>

          


             
                
            